
#searchField {
	-fx-background-image: url(/Users/birgerlangebro/Documents/workspace/oving5App/src/ImageResources/searchIcon.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: left center;
}

#notificationBellButton {
	-fx-background-image: url(/Users/birgerlangebro/Documents/workspace/oving5App/src/ImageResources/bellIcon.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#rightLeftScrollButtons {
	-fx-text-fill: orange;
	-fx-font-size: 18;
}	

#titleInfoBPane {
	-fx-background-color: orange;
}

#titleInfoActionButton {
	/*-fx-background-color: transparent;*/
	-fx-text-fill: orange;
}

#addGroupButton {
	-fx-background-color: transparent;
	-fx-text-fill: orange;
	-fx-font-size: 10;
}

#makeGroupFlowPane {
	-fx-background-color: orange;
}

#dayCalendarDayLabel {
	-fx-font-size: 18;	
}

#personalEventFlowPane {
	-fx-background-color: #F1DDF3;	
}

#personalEventFlowPane:hover {
	-fx-opacity: 0.5;
}

#greyedOutBusyField {
	-fx-background-color: lightgray; 	
}
}